/* ============================= */
/* Fonts */
/* ============================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --font-primary: "Poppins", sans-serif;
}
/* ============================= */
/* Reset */
/* ============================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* ============================= */
/* Base */
/* ============================= */
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 140%;
  font-size: 16px;
}

/* ============================= */
/* Utilities */
/* ============================= */

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.w-95 {
  width: 95%;
}
.color-white {
  color: white;
}
.center {
  display: flex;
  justify-content: center;
}

/* ============================= */
/* HEADER */
/* ============================= */
.header {
  margin-top: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.nav__logo {
}
.nav__logo img {
}
.nav__list {
  display: flex;
  gap: 16px;
  align-items: center;
  background: #ededed;
  padding: 8px;
  border-radius: 999px;
}
.nav__item {
}
.nav__link {
  padding: 8px;
  font-size: 16px;
  line-height: 140%;
}
.nav__link-active {
  background-color: black;
  color: white;
  font-weight: 500;
  border-radius: 999px;
  padding: 8px 20px;
}
.nav__cta {
  background-color: #011f11;
  display: flex;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 999px;
}
.nav__cta-icon {
  width: 20px;
  height: 20px;
}
.nav__cta-text {
  color: white;
  font-size: 14px;
  line-height: 140%;
}

/* ============================= */
/* Hero */
/* ============================= */

.hero {
}
.hero__content {
  padding-top: 100px;
}
.hero__title {
  font-weight: 500;
  font-size: 128px;
  line-height: 85%;
  letter-spacing: -0.06em;
}
.hero__subtitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
}
.hero__subtitles p {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -3%;
  color: #000;
}
.hero__cta {
  display: flex;
  gap: 20px;
  align-items: center;
}
.hero__arrow-icon {
  width: 21px;
  height: 21px;
}
.hero__link {
  font-weight: 500;
  line-height: 140%;
  font-size: 28px;
}
.hero__image {
  padding-top: 48px;
}
.hero__img {
  width: 100%;
}

/* ============================= */
/* Design Process */
/* ============================= */
.design-process {
  margin-top: 140px;
  background: #000;
}
.design-process__container {
  padding: 80px 0;
}
.design-process__heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 140%;
  color: white;
  margin-bottom: 40px;
}
.process__layout {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.card {
  min-height: 174px;
  border-radius: 16px;
  border: 1px solid;
}
.card-img {
  width: 100%;
}
.w-624 {
  max-width: 624px;
}
.w-592 {
  max-width: 592px;
}
.w-284 {
  max-width: 284px;
}

/* process card */
.proccess__card,
.proccess__card-sm {
  height: inherit;
  display: grid;
  justify-content: space-between;
  justify-items: end;
  border-radius: 16px;
}
.proccess__card {
  padding: 16px 24px;
  gap: 20px;
  background-color: white;
}
.proccess__card-sm {
  padding: 18px 13px;
  border: 1px solid white;
}
.proccess__card-content {
  display: flex;
  align-items: flex-start;
}
.proccess__card-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}

.proccess__card-img {
  width: 100%;
  max-width: 40px;
  height: 40px;
}
.proccess__card-content2 {
}
.proccess__card-link {
  font-size: 20px;
  line-height: 140%;
  color: #24806f;
}

/* Fav project */
.fav-project {
  margin-top: 140px;
}

.fav__heading {
  justify-content: center;
  display: inline-block;
  background-color: #24806f;
  font-size: 48px;
  line-height: 140%;
  color: white;
  padding: 20px 38px;
  border-radius: 28px 28px 28px 0px;
}
.fav__podcast {
  margin-top: 48px;
}
.podcast {
  border-bottom: 2px solid #a4a4a4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 117px;
}
.podcast:not(:first-child) {
  margin-top: 32px;
}
.podcast__text {
  display: flex;
  align-items: center;
  gap: 24px;
}
.podcast__serial {
  display: inline-block;
  font-size: 24px;
  line-height: 53px;
  color: #24806f;
  border: 1px solid #24806f;
  width: 81px;
  height: 53px;
  border-radius: 9999px;
  text-align: center;
}
.podcast__topic {
  font-size: 64px;
  line-height: 140%;
  color: #a4a4a4;
}
.podcast__numbers {
  display: flex;
  align-items: center;
  gap: 12px;
}
.podcast__number {
  color: #a4a4a4;
  font-size: 20px;
  line-height: 140%;
}
.podcast__icon {
}
