@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --popping-text: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
body {
  font-family: var(--popping-text);
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
}

/* Generall */
.container {
  /* border: 1px solid black; */
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

/* header */
.header {
  margin-top: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.nav__logo {
}
.nav__logo img {
}
.nav__list {
  display: flex;
  gap: 16px;
  align-items: center;
  background: #ededed;
  /* border: 1px solid; */
  padding: 8px;
  border-radius: 999px;
}
.nav__item {
}
.nav__link {
  padding: 8px;
  font-size: 16px;
  line-height: 140%;
}
.nav__link-active {
  background-color: black;
  color: white;
  font-weight: 500;
  border-radius: 999px;
  padding: 8px 20px;
}
.nav__cta {
  background-color: #011f11;
  display: flex;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 999px;
}
.nav__cta-icon {
  width: 20px;
  height: 20px;
}
.nav__cta-text {
  color: white;
  font-size: 14px;
  line-height: 140%;
}

/* hero */
.hero {
}
.hero__content {
  padding-top: 100px;
}
.hero__title {
  font-weight: 500;
  font-size: 128px;
  line-height: 85%;
  letter-spacing: -0.06em;
}
.hero__subtitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
}
.hero__subtitles p {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -3%;
  color: #000;
}
.hero__cta {
  display: flex;
  gap: 20px;
  align-items: center;
}
.hero__arrow-icon {
  width: 21px;
  height: 21px;
}
.hero__link {
  font-weight: 500;
  line-height: 140%;
  font-size: 28px;
}
.hero__image {
  padding-top: 48px;
}
.hero__img {
  width: 100%;
}

/* Design grid */
.design-process {
}
.design-process__container {
}
.design-process__heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 140%;
}
.process__layout {
  width: 1240px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.card {
  height: 174px;
  border-radius: 16px;
  border: 1px solid;
}
.card-img {
  width: 100%;
}
.w-624 {
  width: 624px;
}
.w-592 {
  width: 592px;
}
.w-284 {
  width: 284px;
}

/* process card */
.proccess__card {
  height: inherit;
  padding: 16px 24px;

  display: grid;
  justify-content: space-between;
  justify-items: end;
  gap: 20px;
}
.proccess__card-content {
  display: flex;
  align-items: flex-start;
}
.proccess__card-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: black;
}

.proccess__card-img {
  width: 100%;
  max-width: 40px;
  height: 40px;
}
.proccess__card-content2 {
}
.proccess__card-link {
  font-size: 20px;
  line-height: 140%;
  color: #24806f;
}
